#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}





.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




.hold-all {
  margin:auto;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  width: auto;
  text-align: center;

  background-image: url('assets/topRight.png');
  background-size: 300px;
  background-position: center;

  border-radius: 15px;
/* 
  padding-left: 100px;
  padding-right: 100px; */
  padding-top: 150px;
  padding-bottom: 150px;
  box-shadow: 0 0 20px #AA336A; /* Adjust values as needed */
}

@media (max-width: 480px) {
  .hold-all {
    /* margin:auto; */
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    width: auto;
    text-align: center;
    padding: 20px;

    margin: 10px;

    background-image: url('assets/topRight.png');
    background-size: 250px;
    background-position: center;

    border-radius: 15px;
    box-shadow: 0 0 20px #AA336A; /* Adjust values as needed */
  }

  button {
    font-size: small;
  }

  h1 {
    font-size: 22px;
  }
}

h1 {
  color: black;
  font-size: 30px;
  background-color: pink;
  border-radius: 15px;
  padding-top: 8px;
  text-align: left;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: max-content;
}

h3 {
  color:black;
}

p {
  color: black;
}

button {
  background-color: pink;
  color: black;
}

body {
  font-family: 'Courier New', monospace;
  font-size: 15px;
  /* font-family: 'Dongle';font-size: 22px; */
}